body{
    margin: 0;
    padding: 0;
}

.gradient{
    background: linear-gradient(90deg,rgba(45,156,219,.6),rgba(155,81,224,.6));
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.container{
    
    width: 1000px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 50 auto 0 ; /* aşağıdan 0 yukarıdan 50 , sağdan soldan auto */
}

.left-bar{
    width: 200px;
    float: left;
}

.content {
    width: 800px;
    float: left;
    
}

.card{
    width: 20%;
    float: left;
    padding: 5%;
    margin-right: 3%;
    background-color: rgb(206, 197, 197);
    border-radius: 10px;
}

.clear-fix{
    clear: both;
}

.box{
    background-color: red;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    float: left;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}